.checkout-orders form{
    padding:2rem;
    border:var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
 }
 
 .checkout-orders form h3{
    border-radius: .5rem;
    background-color: var(--black);
    color:var(--white);
    padding:1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 2.5rem;
 }
 
 .checkout-orders form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    justify-content: space-between;
 }
 
 .checkout-orders form .flex .inputBox{
    width: 49%;
 }
 
 .checkout-orders form .flex .inputBox .box{
    width: 100%;
    border:var(--border);
    border-radius: .5rem;
    font-size: 1.8rem;
    color:var(--black);
    padding:1.2rem 1.4rem;
    margin:1rem 0;
    background-color: var(--light-bg);
 }
 
 .checkout-orders form .flex .inputBox span{
    font-size: 1.8rem;
    color:var(--light-color);
 }
 
 .placed-orders .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .placed-orders .box-container .box{
    padding:1rem 2rem;
    flex:1 1 40rem;
    border:var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
 }
 
 .placed-orders .box-container .box p{
    margin:.5rem 0;
    line-height: 1.8;
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .placed-orders .box-container .box p span{
    color:var(--green);
 }
 